.gwt-Button {
	cursor: pointer;
}

.btn-first,.btn-prev,.btn-next,.btn-last {
	width: 16px;
	height: 16px;
	background-image: url("images/page-arrows.gif");
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.btn-first { background-position: 0 0;}
.btn-prev {	background-position: -16 0 ;}
.btn-next {	background-position: -32 0 ;}
.btn-last {	background-position: -48 0 ;}
.btn-first-disabled { background-position: -64 0 !important;}
.btn-prev-disabled { background-position: -80 0 !important;}
.btn-next-disabled { background-position: -96 0 !important;}
.btn-last-disabled { background-position: -112 0 !important;}

.btn-bkg {
	width: 80px;
	height: 22px;
	background: transparent url("images/btn-bkg.gif") no-repeat scroll 0 0;
	border: none;
	margin-right: 10px;
	color: #E05206;
	font-weight: 600;
	font-size: 11px;
}

.btn-bkg-big {
	width: 156px;
	height: 22px;
	background: transparent url("images/btn-bkg-big.gif") no-repeat scroll 0 0;
	border: none;
	margin-right: 10px;
	color: #E05206;
	font-weight: 600;
	font-size: 11px;
}

.btn-menu {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -25px;
	background: transparent url("images/menu.gif") no-repeat scroll 0 0;
	border: none;
	height: 18px;
	width: 50px;
}