/*

Esta hoja de estilos define los estilos que representan los íconos almacenados en iconos.gif, y que
son accedidos usualmente desde IconFactory.

iconos.gif es un gif de 16px de alto por (16*n)px de ancho, donde n es la cantidad de íconos que guarda el archivo.
Los íconos tienen, por lo tanto, 16px * 16px, y se guardan horizontalmente
Todos los íconos tienen que tener el mismo valor de transparencia


Para crear los gifs que agrupan iconos, podemos usar Paint o probar con IrfanView:

Abrir Irfanview.
Create Panorama Image
Elegir todas las imagenes a agregar
Ordenarlas alfabéticamente
Create Image
ir a File and Save As, grabarlo como GIF con transparencia habilitada. Tildar la opción de "Elegir el transparent color al grabar",
grabarlo y elegir el color transparente ( en el icons.gif, es el negro de fondo que tiene índice 0 )


En el css, ordenar las definiciones de los css.
Si definimos los estilos css con el mismo nombre de las imágenes, podemos ordenar las definiciones de los estilos
alfabéticamente y quedan en el mismo orden

rgm

*/

.gwt-Icon {
	cursor: pointer;
}

.gwt-IconButton {
	cursor: pointer;
}
.icon-cancel, .icon-copiar, .icon-excel, .icon-lapiz, .icon-locked, .icon-lupa, .icon-silvioSoldan, 
.icon-tildeVerde, .icon-vistaPreliminar, .icon-word, .icon-nuevo, .icon-comprobar-negro, .icon-comprobar-verde,
.icon-comprobar-rojo, .icon-locked-other, .icon-scoring, .icon-oportunidad, .icon-prospect, .icon-led-verde,
.icon-led-amarillo, .icon-led-rojo,  .icon-green-flag, .icon-yellow-flag, .icon-red-flag, .icon-refresh, .icon-bolsaPesos {
	width: 16px;
	height: 16px;
	background-image: url("images/icons.gif");
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
}

/*.icon-locked-other{
   background-image: url("images/locked-others.gif") !important;
}*/

.icon-cancel { background-position: 0 0; cursor: pointer;}
.icon-copiar { background-position: -16 0;}
.icon-excel { background-position: -32 0; cursor: pointer;}
.icon-lapiz { background-position: -48 0; cursor: pointer;}
.icon-locked { background-position: -64 0;}
.icon-lupa { background-position: -80 0; cursor: pointer;}
.icon-silvioSoldan { background-position: -96 0; cursor: pointer;}
.icon-tildeVerde { background-position: -112 0; }
.icon-vistaPreliminar { background-position: -128 0; cursor: pointer;}
.icon-word { background-position: -144 0; cursor: pointer;}
.icon-nuevo { background-position: -160 0; cursor: pointer;}
.icon-comprobar-negro { background-position: -176 0; cursor: pointer;}
.icon-comprobar-rojo { background-position: -192 0; cursor: pointer;}
.icon-comprobar-verde { background-position: -208 0; cursor: pointer;}
.icon-locked-other { background-position: -224 0;}
.icon-scoring { background-position: -240 0;}
.icon-oportunidad { background-position: -256 0; cursor: default;}
.icon-prospect { background-position: -272 0; cursor: pointer;}
.icon-led-verde { background-position: -288 0; cursor: pointer;}
.icon-led-amarillo { background-position: -304 0; cursor: pointer;}
.icon-led-rojo { background-position: -320 0; cursor: pointer;}
.icon-green-flag { background-position: -336 0;}
.icon-yellow-flag { background-position: -352 0;}
.icon-red-flag { background-position: -368 0;}
.icon-refresh { background-position: -384 0; cursor: pointer;}
.icon-bolsaPesos {background-position: -400 0; cursor: pointer;}

