/** Add css rules here for your application. */
@IMPORT url("measures.css");

@IMPORT url("popups.css");

@IMPORT url("datePicker-nexus.css");

@IMPORT url("buttons.css");

@IMPORT url("icons.css");

body,td,.normalText {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

A {
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
}

*,body {
	margin: 0px;
	padding: 0px;
}

.alignCenter {
	text-align: center !important;
}

.alignRight {
	text-align: right !important;
}

.alignLeft {
	text-align: left !important;
}

.dataTable TD {
	text-align: center;
}

.TableHeader {
	background-color: #A53953;
	text-align: center;
	color: white;
	font-weight: bold;
}

/** Estilos tablas */
.TableHeader A:link,.TableHeader A:active,.TableHeader A:visited {
	color: #fff;
	text-decoration: none;
}

.TableHeader A:hover {
	text-decoration: underline;
}

.TableRow1 {
	background-color: white;
}

.TableRow2 {
	background-color: #DCDCDC;
}

.TableRowSelected {
	background-color: #EFDAE0;
	cursor: pointer;
}

.NoPointerTableRowSelected {
	background-color: #EFDAE0;
}

/** Fin Estilos tablas */
.gwt-HeaderMenu .menu {
	background-color: #981836;
	background-image: url(images/toolbar/back-menu-bar.gif);
	height: 30px;
	text-align: left;
	width: 100%;
}

.gwt-MenuItem {
	cursor: pointer;
}

.gwt-HeaderMenu .gwt-MenuItem {
	/**	background-image: url(images/toolbar/back-menu-bar.gif);*/
	border-right: 1px solid #981836;
	color: #EEEEEE;
	display: block;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	padding: 6px;
	text-decoration: none;
}

.submenuPrincipal .gwt-MenuItem {
	background-color: #FEFEFE;
	border-bottom: 1px solid #E9E9E9;
	color: #9E2F49;
	display: block;
	font-size: 10px;
	font-weight: bold;
	padding: 4px 8px;
	text-decoration: none;
	text-transform: uppercase;
}

.submenuPrincipal .gwt-MenuItem-selected {
	background-image: url(images/toolbar/back-menu-item-hover.gif);
	color: white;
}

.gwt-MenuBarPopup .menuPopupTopCenter {
	background-image: url(images/toolbar/back-menu-drop-down.gif);
	background-repeat: repeat-x;
	height: 10px;
}

.gwt-MenuBarPopup {
	border-color: #AAAAAA;
	border-style: solid;
	border-width: 0 1px 1px;
	background-color: #FFF;
}

.gwt-TextBox,.gwt-ListBox {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	margin: 0;
}

.gwt-TextBox {
	border: 1px solid #BCBCBC;
	padding: 1px;
}

.gwt-central-panel {
	background-color: #DADADA;
	min-width: 100%;
	padding: 0;
	text-align: center;
}

.gwt-BuscarCuentaFilterForm,.gwt-BuscarCuentaResultPanel {
	margin: 5px;
	background-color: #F7F7F7;
	background-image: url(images/sch_bkg.gif);
	background-repeat: repeat-x;
	border-color: #FFFFFF;
	border-style: groove ridge ridge groove;
	border-width: 2px;
	display: block;
}

.titulo {
	color: gray;
	display: block;
	font-weight: normal !important;
	margin: 4px 10px;
	width: 100% !important;
	text-align: left;
}

.gwt-filtrosBuscador {
	display: block;
	height: 24px;
	margin: 0 0 0px;
	padding: 0;
	text-align: left;
}

.gwt-TitledPanel {
	border: 1px solid #981836;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 5px;
	text-align: left;
}

.gwt-TitledPanel .title {
	width: 100% !IMPORTANT;
	margin-top: 0px !IMPORTANT;
	margin-left: 0px !IMPORTANT;
	margin-right: 0px !IMPORTANT;
	vertical-align: middle;
	background-color: #981836;
	background-image: url(images/h1_bkg_desplegable.jpg);
	background-repeat: repeat-x;
	text-indent: 5px;
	line-height: 20px ! IMPORTANT;
	color: #FFFFFF;
	font-family: Verdana, Geneva, Kalimati, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 5px;
}

.header td {
	background-color: #A53953;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
}

.gwt-BuscarCuentaResultTable td,.gwt-VerazResultTable td,.dataTable td {
	border-right: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	height: 24px;
}

.gwt-BuscarCuentaResultPanel .resultTableWrapper {
	height: 200px;
	overflow: auto;
}

.resultTableWrapper {
	height: 200px;
	overflow: auto;
	background-color: #FFF;
	border:1px solid gray;
	margin-left: 8px;
	margin-right: 8px;
}

.gwt-BuscarCuentaResultPanel {
	text-align: left;
}

.gwt-OportunidadesResultPanel {
	text-align: left;
}

.gwt-NormalizarDomicilioUI .resultTableScroll {
	height: 150px;
	overflow: scroll;
	border: medium;
}

.gwt-labelDisabled {
	font-size: 25px;
	font-weight: bold;
	color: gray;
}

.layout td {
	padding-bottom: 2px;
	padding-top: 2px;
	height: 23px;
}

.layout td,.gwt-Label,.gwt-InlineLabel {
	font-family: Verdana, Geneva, Kalimati, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	text-indent: 4px;
}

.selectedRow td {
	background-color: #EFDAE0;
}

.WaitWindow {
	background-color: #AA0000;
	color: #FFFFFF;
}

.gwt-TabBarItem-selected {
	background-image: url(images/tabs/tab-on.gif) ! IMPORTANT;
	color: #A83C56 ! IMPORTANT;
}

.gwt-TabBarItem {
	background-color: #DADADA;
	background-image: url(images/tabs/tab.gif);
	cursor: pointer;
	font-family: Verdana;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 21px;
	line-height: 21px;
	text-align: center;
	width: 75px;
}

.gwt-TabBarRest,.gwt-TabBarFirst {
	border-bottom: 1px solid #ccc;
	-moz-box-sizing: border-box;
}

.razonSocial .gwt-Label {
	font-weight: bold;
	margin: 4px 0;
	padding-left: 4px;
	width: 90px;
}

.numeroCliente .gwt-Label {
	font-weight: bold;
	margin: 4px 0;
	width: 55px;
}

.link {
	color: #666666;
	display: inline;
	font-size: 90%;
	font-weight: bold;
	line-height: 25px;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	text-transform: uppercase;
}

.aButtons {
	background-image: url(images/bkg_frmButtons.gif);
	display: block;
	height: 25px;
	line-height: 25px;
	margin-top: 8px;
	text-align: center;
	width: 100%;
}

.gwt-TabPanelBottom {
	background: #FFFFFF url(images/bkg_frmContent.gif) repeat-x scroll 0 0;
	padding: 5px;
}

.content {
	background: #E9E9E9;
}

.content .gwt-Label {
	color: red;
}

.abmPanel {
	border: 1px solid #981836;
	margin-bottom: 8px;
	width: 100%;
}

.abmPanelChild {
	line-height: 24px;
	margin: 5px 0 0 2px;
	padding: 0;
	text-align: left;
	width: 48%;
}

.req {
	color: red;
}

.Gwt-EditarSSUI {
	background-color: #dddddd;
}

.crearDomicilioButton,.crearLineaButton,.validarCompletitudButton {
	background-repeat: no-repeat;
	background-color: transparent;
	height: 17px;
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
	color: #333;
	line-height: 15px;
	float: right;
	padding-left: 20px;
	margin-right: 8px;
	border: none 0px;
	color: gray;
	text-align: right;
}

.crearDomicilioButton,.crearLineaButton {
	background-image: url(images/btn-table-nuevo.gif);
	width: 115px;
}

.validarCompletitudButton {
	background-image: url(images/btn-completitud.gif);
	width: 170px;
	margin-top: 5px;
	position: absolute;
	right: 10;
}

.validarCompletitudFailButton {
	background-image: url(images/btn-completitudFail.gif) !important;
}

.bkgWhite {
	background-color: #FFFFFF
}

.abmPiePanel {
	border: 0 none;
	margin-left: 2px;
	text-align: left;
	width: 48%;
}

.gwt-LabelVeraz {
	background-color: transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	text-indent: 4px;
	width: 100px;
}

.abmPanelVeraz {
	text-align: left;
	text-indent: 4px;
	border: 1px solid #981836;
	background-color: #FFFFFF;
	margin-top: 8px;
	border: 1px solid #981836;
	margin-bottom: 8px;
	width: 100%;
}

.linkVeraz {
	background: transparent url(images/art-veraz.gif) no-repeat scroll 0 50%
		;
	border: 0 none;
	cursor: pointer;
	display: block;
	float: left;
	height: 16px;
	width: 16px;
}

.resultadoVerazAceptar {
	background: transparent url(images/icon-scoring-aceptado.jpg) no-repeat
		scroll 0 0;
	display: block;
	height: 22px;
	margin-left: 4px;
	padding-left: 24px;
	width: 74px;
}

.resultadoVerazRevisar {
	background: transparent url(images/icon-scoring-revisado.jpg) no-repeat
		scroll 0 0;
	display: block;
	height: 22px;
	margin-left: 4px;
	padding-left: 24px;
	width: 74px;
}

.resultadoVerazRechazar {
	background: transparent url(images/icon-scoring-rechazado.jpg) no-repeat
		scroll 0 0;
	display: block;
	height: 22px;
	margin-left: 4px;
	padding-left: 24px;
	width: 74px;
}

.obsTextAreaCuentaDatos {
	height: 35px;
	width: 95%;
	min-width: 95%;
	border: 1px solid #BCBCBC;
}

.gwt-RazonSocialClienteBar {
	background-color: #FFF;
	height: 20px;
	line-height: 17px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.gwt-RazonSocialClienteBar .right {
	float: right;
	height: 17px;
	width: 250px;
	line-height: 17px;
}

.resumenSSTableWrapper,.detalleSSTableWrapper {
	border-bottom: 1px #999 solid;
	border-right: 1px #999 solid;
	border-left: 1px #ccc solid;
	border-top: 1px #ccc solid;
	overflow: auto;
	padding-right: 15px;
	height: 100px;
}

.crearCuentaTabPanel {
	margin: 16 0 40 0px;
}

.floatRight,.exportarExcelSS {
	float: right;
}

.floatLeft {
	float: left;	
}

.fontNormalGris {
	text-align: left;
	font-weight: normal;
	color: gray;
}

.verazRechazar {
	background-color: #FE003E;
	border: 2px solid #FE003E;
	color: #FFFFFF;
	margin-left: 27px;
	width: 90px;
}

.verazRevisar {
	background-color: #FFC000;
	border: 2px solid #FFC000;
	color: #FFFFFF;
	margin-left: 27px;
	width: 90px;
}

.verazAceptar {
	background-color: #CAE8A9;
	border: 2px solid #CAE8A9;
	color: #189D21;
	margin-left: 27px;
	width: 90px;
}

.gwt-ItemSolicitudDialog .topBar {
	border-bottom: 1px #CCC solid;
	padding: 5px; 
	margin-bottom: 5px;
	background-image: url(images/sch_bkg.gif);
	background-repeat: repeat-x;
	height: 25px;
	width: 520px;
}

.reservaTelefonoWrapper {
	height: 100px;
	width:120;
	margin-top:20px;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:20px;
	overflow: auto;
	border: 1px #CCC solid;
}

.reservaTelefonoWrapper TD{
	text-align: center;
}

.gwt-CerrarSSDialog .cierreExitosoTable{
	border: #ccc 1px solid;
}

SPAN.error{color: red;}
SPAN.warn{color: #FFA500;}
SPAN.info{color: #000;}

.numeroResultadosLabel {
font-weight: normal;
}

.oppEnCursoTitulosLabel {
color:#A83C56;
font-weight:bold;
margin:4px 0;
width:100%;
}

.oppEnCursoCantLabel {
color:gray;
font-weight:normal;
}

.infocomSimpleLink {
text-decoration:underline;
}

.infocomTituloLabel {
color:#A83C56;
}

.infocomDescripcionTable {
	border-right: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	height: 24px;
	text-align: left;
}

.oppDebugFont {
color:white;
font-weight:normal;
}

input[disabled], input[readonly], select[disabled], select[readonly], checkbox[disabled], checkbox[readonly], textarea[disabled], textarea[readonly]
{
 background-color: #DEDEDE;
 color: #000000;
 cursor: default;
} 

/*.table-external {
border:1px solid gray;
clear:left;
margin:8px;
}*/