<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	 <import resource="classpath:spring-config.xml" />

	<bean id="dozerMapper" class="ar.com.nextel.sfa.server.util.MapperExtended"
		singleton="true">
		<property name="mappingFiles">
			<list>
				<value>ar/com/nextel/sfa/dozerBeanMapping.xml</value>
			</list>
		</property>
	</bean>

</beans>