<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"

	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<context:annotation-config />
	<context:component-scan base-package="ar.com.nextel.sfa.server.businessservice" />
	<context:component-scan base-package="ar.com.nextel.sfa.server.converter" />
	<tx:annotation-driven />

	<import resource="classpath:spring-config.xml" />
	<import resource="spring-download-config.xml" />

	<bean id="dozerMapper" class="ar.com.nextel.sfa.server.util.MapperExtended">
		<property name="mappingFiles">
			<list>
				<value>ar/com/nextel/sfa/dozerBeanMapping.xml</value>
			</list>
		</property>
		<property name="customConvertersWithId">
			<map>
				<entry key="identifiableObjectToId" value-ref="identifiableObjectToIdConverter" />
				<entry key="enumToDto" value-ref="enumToDtoConverter" />
				<entry key="datosPagoConverter" value-ref="datosPagoConverter" />
				<entry key="collectionLineaSolicitudServicioConverter" value-ref="collectionLineaSolicitudServicioConverter" />
				<entry key="collectionServicioAdicionalConverter" value-ref="collectionServicioAdicionalConverter" />
				<entry key="collectionDomiciliosServicioConverter" value-ref="collectionDomiciliosServicioConverter" />
				<entry key="estadoTipoDomicilioOwnedConverter" value-ref="estadoTipoDomicilioOwnedConverter" />
			    <entry key="collectionContactoCuentaConverter" value-ref="collectionContactoCuentaConverter" />
			    <entry key="collectionTipoDescuentoConverter" value-ref="collectionTipoDescuentoConverter"/>
			    <entry key="collectionDescuentoConverter" value-ref="collectionDescuentoConverter"/>
			    <entry key="collectionDescuentoLineaConverter" value-ref="collectionDescuentoLineaConverter"/>
			    
			    <entry key="collectionLineaTransfSolicitudServicioConverter" value-ref="collectionLineaTransfSolicitudServicioConverter" />
			    <entry key="collectionServicioAdicionalTransfConverter" value-ref="collectionServicioAdicionalTransfConverter" />
		    </map>
		</property>
	</bean>
	
	<bean id="estadoTipoDomicilioOwnedConverter" class="ar.com.nextel.sfa.server.converter.EstadoTipoDomicilioOwnedConverter">
	</bean>

	<bean id="collectionLineaSolicitudServicioConverter" class="ar.com.nextel.sfa.server.converter.CollectionOwnedConverter">
		<property name="dozerMapper" ref="dozerMapper" />
		<property name="repository" ref="repository" />
		<property name="modelClass">
			<bean class="ar.com.nextel.model.solicitudes.beans.LineaSolicitudServicio"></bean>
		</property>
		<property name="dtoClass">
			<bean class="ar.com.nextel.sfa.client.dto.LineaSolicitudServicioDto"></bean>
		</property>
	</bean>

	<bean id="collectionDomiciliosServicioConverter" class="ar.com.nextel.sfa.server.converter.CollectionOwnedConverter">
		<property name="dozerMapper" ref="dozerMapper" />
		<property name="repository" ref="repository" />
		<property name="modelClass">
			<bean class="ar.com.nextel.model.personas.beans.Domicilio"></bean>
		</property>
		<property name="dtoClass">
			<bean class="ar.com.nextel.sfa.client.dto.DomiciliosCuentaDto"></bean>
		</property>
	</bean>

	<bean id="collectionServicioAdicionalConverter" class="ar.com.nextel.sfa.server.converter.CollectionOwnedConverter">
		<property name="dozerMapper" ref="dozerMapper" />
		<property name="repository" ref="repository" />
		<property name="modelClass">
			<bean class="ar.com.nextel.model.solicitudes.beans.ServicioAdicionalLineaSolicitudServicio"></bean>
		</property>
		<property name="dtoClass">
			<bean class="ar.com.nextel.sfa.client.dto.ServicioAdicionalLineaSolicitudServicioDto"></bean>
		</property>
	</bean>

	<bean id="collectionContactoCuentaConverter" class="ar.com.nextel.sfa.server.converter.CollectionOwnedConverter">
		<property name="dozerMapper" ref="dozerMapper" />
		<property name="repository" ref="repository" />
		<property name="modelClass">
			<bean class="ar.com.nextel.model.cuentas.beans.ContactoCuenta"></bean>
		</property>
		<property name="dtoClass">
			<bean class="ar.com.nextel.sfa.client.dto.ContactoCuentaDto"></bean>
		</property>
	</bean>
	
	<bean id="collectionDescuentoLineaConverter" class="ar.com.nextel.sfa.server.converter.CollectionOwnedConverter">
		<property name="dozerMapper" ref="dozerMapper" />
		<property name="repository" ref="repository" />
		<property name="modelClass">
			<bean class="ar.com.nextel.model.solicitudes.beans.DescuentoLinea"></bean>
		</property>
		<property name="dtoClass">
			<bean class="ar.com.nextel.sfa.client.dto.DescuentoLineaDto"></bean>
		</property>
	</bean>

	<bean id="collectionDescuentoConverter" class="ar.com.nextel.sfa.server.converter.CollectionOwnedConverter">
		<property name="dozerMapper" ref="dozerMapper" />
		<property name="repository" ref="repository" />
		<property name="modelClass">
			<bean class="ar.com.nextel.model.solicitudes.beans.Descuento"></bean>
		</property>
		<property name="dtoClass">
			<bean class="ar.com.nextel.sfa.client.dto.DescuentoDto"></bean>
		</property>
	</bean>
		
	<bean id="collectionTipoDescuentoConverter" class="ar.com.nextel.sfa.server.converter.CollectionOwnedConverter">
		<property name="dozerMapper" ref="dozerMapper" />
		<property name="repository" ref="repository" />
		<property name="modelClass">
			<bean class="ar.com.nextel.model.solicitudes.beans.TipoDescuento"></bean>
		</property>
		<property name="dtoClass">
			<bean class="ar.com.nextel.sfa.client.dto.TipoDescuentoDto"></bean>
		</property>
	</bean>	
	
	
	<bean id="collectionLineaTransfSolicitudServicioConverter" class="ar.com.nextel.sfa.server.converter.CollectionOwnedConverter">
        <property name="dozerMapper" ref="dozerMapper" />
        <property name="repository" ref="repository" />
        <property name="modelClass">
            <bean class="ar.com.nextel.model.solicitudes.beans.LineaTransfSolicitudServicio"></bean>
        </property>
        <property name="dtoClass">
            <bean class="ar.com.nextel.sfa.client.dto.LineaTransfSolicitudServicioDto"></bean>
        </property>
    </bean>
    
    <bean id="collectionServicioAdicionalTransfConverter" class="ar.com.nextel.sfa.server.converter.CollectionOwnedConverter">
        <property name="dozerMapper" ref="dozerMapper" />
        <property name="repository" ref="repository" />
        <property name="modelClass">
            <bean class="ar.com.nextel.model.solicitudes.beans.ServicioAdicionalLineaTransfSolicitudServicio"></bean>
        </property>
        <property name="dtoClass">
            <bean class="ar.com.nextel.sfa.client.dto.ServicioAdicionalLineaTransfSolicitudServicioDto"></bean>
        </property>
    </bean>	
	
</beans>