<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean name="fileServiceFactory"
		class="ar.com.nextel.web.download.FileServiceFactory">
		<property name="moduleConfigs">
			<list>
				<ref bean="solicitudesModuleConfig"/>
				<ref bean="cuentasModuleConfig"/>
			</list>
		</property>
	</bean>
	
	<bean name="solicitudesModuleConfig" class="ar.com.nextel.web.download.config.ModuleConfig">
		<property name="moduleName" value="solicitudes"/>
		<property name="serviceConfigs">
			<list>
				<ref bean="solicitudesDownloadExcelService"/>
				<ref bean="solicitudesDownloadRichTextFormatService"/>
			</list>
		</property>
	</bean>
	
	<bean name="solicitudesDownloadExcelService" class="ar.com.nextel.web.download.config.impl.SolicitudExcelService">
		<property name="fileTypeConfig" ref="excelFileTypeConfig"/>
		<property name="fileNameConfig" ref="fileNameConfig"/>
		<property name="serviceName" value="xls"/>
		<property name="moduleName" value="solicitudes"/>
	</bean>

    
<!--    <bean name="lineas2TableTransformerBean" class="ar.com.nextel.web.download.config.impl.Lineas2TableTransformer"/>-->
	
	<bean name="solicitudesDownloadRichTextFormatService" class="ar.com.nextel.web.download.config.impl.DownloadRichTextFormatService">
		<property name="fileTypeConfig" ref="richTextFormatFileTypeConfig"/>
		<property name="fileNameConfig" ref="fileNameConfig"/>
		<property name="serviceName" value="rtf"/>
		<property name="moduleName" value="solicitudes"/>
		<property name="reportPathBuilder" ref="onSessionReportFileSystemPathBuilder"/>		
	</bean>
	
	<bean name="cuentaDownloadTaggedImageFileFormatService" class="ar.com.nextel.web.download.config.impl.DownloadTaggedImageFileFormatService">
		<property name="fileTypeConfig" ref="taggedImageFileFileTypeConfig"/>
		<property name="fileNameConfig" ref="fileNameConfig"/>
		<property name="serviceName" value="tif"/>
		<property name="moduleName" value="cuentas"/>
	</bean>
	
	<bean name="onSessionReportFileSystemPathBuilder" class="ar.com.nextel.components.report.OnSessionReportFileSystemPathBuilder">
		<property name="sessionAwareProxyFactory" ref="sessionAwareProxyFactory"/>
		<property name="simpleReportFileSystemPathBuilder" ref="simpleReportFileSystemPathBuilder"/>		
	</bean>
	
	<bean name="simpleReportFileSystemPathBuilder" class="ar.com.nextel.components.report.SimpleReportFileSystemPathBuilder">
		<property name="globalParameterRetriever" ref="globalParameterRetriever"/>		
	</bean>
	
	<bean name="sessionAwareProxyFactory" class="ar.com.nextel.framework.repository.SessionAwareProxyFactoryImpl">
		<property name="sessionFactory" ref="sessionFactory"/>		
	</bean>	
	
	<bean name="excelFileTypeConfig" class="ar.com.nextel.web.download.config.impl.ExcelFileTypeConfig"/>
	
	<bean name="richTextFormatFileTypeConfig" class="ar.com.nextel.web.download.config.impl.RichTextFormatFileTypeConfig"/>
	
	<bean name="taggedImageFileFileTypeConfig" class="ar.com.nextel.web.download.config.impl.TaggedImageFileFormatFileTypeConfig"/>
	
	<bean name="fileNameConfig" class="ar.com.nextel.web.download.config.FileNameConfig"/>
	
	<bean name="cuentasModuleConfig" class="ar.com.nextel.web.download.config.ModuleConfig">
		<property name="moduleName" value="cuentas"/>
		<property name="serviceConfigs">
			<list>
				<ref bean="consultaVerazDownloadRichTextFormatService"/>
				<ref bean="cuentaDownloadTaggedImageFileFormatService"/>
			</list>
		</property>
	</bean>
	
	<bean name="consultaVerazDownloadRichTextFormatService" class="ar.com.nextel.web.download.config.impl.DownloadRichTextFormatService">
		<property name="fileTypeConfig" ref="richTextFormatFileTypeConfig"/>
		<property name="fileNameConfig" ref="fileNameConfig"/>
		<property name="serviceName" value="veraz-rtf"/>
		<property name="moduleName" value="cuentas"/>
		<property name="reportPathBuilder" ref="consultaVerazReportFileSystemPathBuilder"/>		
	</bean>
	
	<bean name="consultaVerazReportFileSystemPathBuilder" class="ar.com.nextel.components.report.CustomReportFileSystemPathBuilder">
		<property name="globalParameterRetriever" ref="globalParameterRetriever"/>
		<property name="customPath" value="cuentas,veraz_html"/>		
	</bean>

	<bean name="downloadService" class="ar.com.nextel.web.download.DownloadServiceImpl">
		<property name="serviceConfigs">
			<list>
				<ref bean="consultaVerazDownloadRichTextFormatService"/>
				<ref bean="solicitudesDownloadExcelService"/>
				<ref bean="solicitudesDownloadRichTextFormatService"/>
			</list>
		</property>
	</bean>

	<bean name="downloadServiceDelegate" class="ar.com.nextel.web.download.DownloadServiceDelegateImpl">
		<property name="downloadService" ref="downloadService"/>
	</bean>
</beans>
