<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>SFA Revolution</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:ar/com/nextel/sfa/applicationContext.xml</param-value>
	</context-param>

	<filter>
		<filter-name>AuthorizationFilter</filter-name>
		<display-name>AuthorizationFilter</display-name>
		<description>
			WINIT User Center Authorization Filter
		</description>
		<filter-class>winit.uc.filter.AuthorizationFilter</filter-class>
		<init-param>
			<param-name>applicationName</param-name>
			<param-value>Nexus</param-value>
		</init-param>
		<init-param>
			<param-name>UCAuthorizationFilterName</param-name>
			<param-value>nexusfilter</param-value>
		</init-param>
		<init-param>
			<param-name>SecurityRelaxed</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter>
		<filter-name>executionContextFilter</filter-name>
		<filter-class>ar.com.nextel.sfa.server.filter.ExecutionContextFilter</filter-class>
	</filter>

	<!-- winit -->
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>*.rpc</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>*.pdf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>*.rtf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>*.csv</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>

	<!-- Hibernate -->
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.rpc</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.pdf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.rtf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.csv</url-pattern>
	</filter-mapping>

	<!-- Levanta el contexto -->
	<filter-mapping>
		<filter-name>executionContextFilter</filter-name>
		<url-pattern>*.rpc</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>executionContextFilter</filter-name>
		<url-pattern>*.rtf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>executionContextFilter</filter-name>
		<url-pattern>*.pdf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>executionContextFilter</filter-name>
		<url-pattern>*.csv</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>CuentaRpcService</servlet-name>
		<servlet-class>
			ar.com.nextel.sfa.server.CuentaRpcServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SolicitudRpcService</servlet-name>
		<servlet-class>
			ar.com.nextel.sfa.server.SolicitudRpcServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InfocomRpcService</servlet-name>
		<servlet-class>
			ar.com.nextel.sfa.server.InfocomRpcServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OperacionesRpcService</servlet-name>
		<servlet-class>
			ar.com.nextel.sfa.server.OperacionesRpcServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OportunidadNegocioRpcService</servlet-name>
		<servlet-class>
			ar.com.nextel.sfa.server.OportunidadNegocioRpcServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserCenterRpcService</servlet-name>
		<servlet-class>
			ar.com.nextel.sfa.server.UserCenterRpcServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>ar.com.nextel.web.download.DownloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CuentaRpcService</servlet-name>
		<url-pattern>/ar.com.nextel.sfa.SFAWeb/cuenta.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SolicitudRpcService</servlet-name>
		<url-pattern>/ar.com.nextel.sfa.SFAWeb/solicitud.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfocomRpcService</servlet-name>
		<url-pattern>/ar.com.nextel.sfa.SFAWeb/infocom.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OperacionesRpcService</servlet-name>
		<url-pattern>/ar.com.nextel.sfa.SFAWeb/operaciones.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OportunidadNegocioRpcService</servlet-name>
		<url-pattern>/ar.com.nextel.sfa.SFAWeb/oportunidades.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserCenterRpcService</servlet-name>
		<url-pattern>/ar.com.nextel.sfa.SFAWeb/usercenter.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/ar.com.nextel.sfa.SFAWeb/download/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


	<resource-ref>
		<description>SFA DS</description>
		<res-ref-name>jdbc/sfaDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>Vantive DS</description>
		<res-ref-name>jdbc/vantiveDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>Mibas DS</description>
		<res-ref-name>jdbc/mibasDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>Avalon DS</description>
		<res-ref-name>jdbc/avalonDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>ScnDS DS</description>
		<res-ref-name>jdbc/scnDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>Bps DS</description>
		<res-ref-name>jdbc/bpsDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
<servlet>
  <servlet-name>configurarSucursalRPCServiceImpl</servlet-name>
  <servlet-class>ar.com.nextel.sfa.server.ConfigurarSucursalRPCServiceImpl</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>configurarSucursalRPCServiceImpl</servlet-name>
  <url-pattern>/ar.com.nextel.sfa.SFAWeb/configurarsucursal.rpc</url-pattern>
</servlet-mapping>

</web-app>
